.body-container {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10%;
  font-family: 'Kumbh Sans', sans-serif;

  .left-body {
    height: 77.5%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .selectedImage {
      display: flex;
      height: 100%;
      width: 85%;
      object-fit: cover;
      margin-bottom: 6.5%;

      img {
        border-radius: 0.75em;
        width: 100%;
        height: 100%;
      }
    }

    .thumbnail-images {
      width: 85%;
      display: grid;
      grid-template-columns: 20% 20% 20% 20%;
      justify-content: space-between;

      img {
        border-radius: 0.75em;
        width: 100%;
        height: 100%;
      }
    }
  }

  .right-body {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .description-container {
      height: 60%;
      display: flex;
      flex-direction: column;
      width: 87.5%;
      color: red;

      h4 {
        font-size: 0.85em;
        letter-spacing: 0.15em;
        margin: 0 0 2.5% 0;
        color: hsl(219, 9%, 45%);
      }

      h1 {
        font-size: 2.75em;
        line-height: 1.125em;
        margin: 0 0 7.5% 0;
        color: hsl(220, 13%, 13%);
      }

      p {
        margin: 0 0 6% 0;
        color: hsl(220, 14%, 75%);
      }

      .prices-area {
        height: 22.5%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-family: 'Kumbh Sans', sans-serif;

        .discounted-price {
          height: 30%;
          display: flex;
          align-items: center;
          column-gap: 10%;
          color: hsl(220, 13%, 13%);

          .current-price {
            font-size: 1.75em;
          }

          .discount-amount {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: black;
            color: white;
            border-radius: 0.35em;
            transform: translateY(17.5%);
          }
        }

        .original-price {
          display: flex;
          align-items: center;
          height: 100%;

          h4 {
            text-decoration: line-through;
            font-size: 1em;
            letter-spacing: 0;
            color: hsl(219, 9%, 45%);
          }
        }
      }

      .cart-buttons-container {
        height: 12.5%;
        width: 100%;
        display: grid;
        grid-template-columns: 35% 60%;
        justify-content: space-between;
        align-items: center;
        column-gap: 5%;

        .modify-cart {
          background-color: hsl(223, 64%, 98%);
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 25%;
          border-radius: 0.5em;
          font-size: 1.125em;
          font-weight: 700;
          color: hsl(220, 13%, 13%);

          button {
            display: flex;
            align-items: center;
            cursor: pointer;
            border: none;
            background-color: hsl(223, 64%, 98%);
          }
        }

        .add-to-cart {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 7.5%;
          height: 100%;
          width: 100%;
          background-color: hsl(26, 100%, 55%);
          border-radius: 0.5em;
          border: none;
          color: hsl(220, 13%, 13%);
          font-family: 'Kumbh Sans', sans-serif;
          font-weight: 700;
          font-size: 0.9375em;

          img {
            width: 7.5%;
            height: 32.5%;
          }
        }
      }
    }
  }
}