.cart-container {
  display: flex;
  flex-direction: column;
  box-shadow: black 0 2em 5em -3em;
  position: absolute;
  height: 30%;
  width: 35%;
  right: 0;
  left: 73.5%;
  top: 10%;
  font-family: "Kumbh Sans";
  background-color: white;
  border-radius: 0.75em;

  .cart-title {
    width: 87.5%;
    height: 27.5%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    border-bottom: 0.125em solid hsl(223, 64%, 98%);
    z-index: 1;
  }

  .cart-items-empty {
    height: 72.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: hsl(219, 9%, 45%);
  }

  .cart-items {
    height: 72.5%;
    width: 87.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    row-gap: 12.5%;

    .item-container {
      display: grid;
      grid-template-columns: 15% 55% 15%;
      justify-content: space-between;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0.25em;
      }

      .item-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-wrap: nowrap;
        font-size: 1em;
      }

      button {
        display: flex;
        justify-content: flex-end;
        border: none;
        background: white;

        img {
          width: 40%;
          height: 40%;
        }
      }
    }

    #checkout-btn {
      width: 100%;
      height: 30%;
      border-radius: 0.75em;
      border: none;
      background: hsl(26, 100%, 55%);
      font-weight: 700;
      font-size: 1em;
    }
  }
}