.header-container {
  position: relative;
  height: 12.5%;
  width: 100%;
  display: flex;
  border-bottom: 0.125em solid hsl(223, 64%, 98%);
  font-family: 'Kumbh Sans', sans-serif;
  align-items: center;

  .left-header {
    height: 100%;
    width: 50%;
    display: flex;
    column-gap: 10%;

    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.75em;
      letter-spacing: -0.075em;
      font-family: 'Codec Cold', sans-serif;
      margin: 0;

      @media (min-width: 1600px) {
        font-size: 2em;
      }

      @media (min-width: 1920px) {
        font-size: 2.375em;
      }

      @media (min-width: 2400px) {
        font-size: 3.5em;
      }
    }

    nav {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: hsl(220, 14%, 75%);
      margin-top: auto;
      margin-bottom: auto;

      a {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-bottom: 0.25em solid transparent;
        transition: border-color 500ms ease-in-out;

        @media (min-width: 1920px) {
          font-size: 1.25em;
        }

        @media (min-width: 2400px) {
          font-size: 1.625em;
        }
      }

      a:hover{
        border-color: orange;
      }
    }
  }

  .right-header {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 7.5%;

    .image-container {
      position: relative;

      .cart-value {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 0.675em;
        position: absolute;
        width: 60%;
        height: min-content;
        border-radius: 0.75em;
        background-color: hsl(26, 100%, 55%);
        z-index: 1;
        left: 45%;
        bottom: 65%;
      }

      button {
        position: relative;
        border: none;
        background-color: white;

        .cart-icon {
          object-fit: cover;
          cursor: pointer;
        }
      }
    }

    .profile-container {
      width: 8.5%;

      .profile-image {
        border-radius: 100%;
        width: 100%;
        cursor: pointer;
        border: 0.20em solid transparent;
        transition: border-color 500ms ease-in-out;
      }

      .profile-image:hover {
        border-color: hsl(27, 100%, 71%);
      }
    }
  }
}