.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.125em solid hsl(223, 64%, 98%);
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-family: 'Kumbh Sans', sans-serif;

  .left-header {
    width: 50%;
    display: flex;
    column-gap: 7.5%;
    align-items: center;

    h1 {
      font-size: 1.75em;
    }

    nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: hsl(220, 14%, 75%);
    }
  }

  .right-header {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 7.5%;

    img:nth-child(1) {
      width: 3.5%;
    }

    img:nth-child(2) {
      width: 8.5%;
    }
  }
}