.app-container {
    position: relative;
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    .main-body {
        position: fixed;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0%, 0%, 0%, 75%);

        .main-area {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .selected-full-image {
                position: relative;
                border-radius: 0.75em;
                width: 32.5%;
                height: 55%;
            }

            .slideshow-button {
                position: absolute;
            }

            #back-button {
                left: 0;
            }

            #forward-button {
                right: 0;
            }
        }
    }
}
